 * {
         margin: 0px;
         padding: 0px;
      }

      html {
         font-size: 16px;
      }

      body {
         margin: 1rem;
         padding: 1rem;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      br {
         margin-bottom: 0.5rem;
         line-height: 1;
      }

      nav {}

      .container {}

      .container>h1 {}

      .container>p {}
	  
	  /* @group Untitled Group */
	  
	  footer {}
	  
	  /* @end */
	  
	  .click-me {
         font-weight: 800;
         background-color: black;
         border-style: none;
         border-radius: 1.4rem;
         font-size: 1rem;
         font: "Helvetica Neue";
         color: white;
         padding: 0.5rem 1rem 0.5rem 1rem;
	         
	         /* transition: background-color 500ms; */
      }

      .click-me:hover {
         /* transform: scale(105%); */
         background-color: green;
         opacity: 0.9;
      }

      .wrap {
         display: inline-block;
      }

      .wrap:hover .click-me:not(:hover) {
         background-color: gray;
      }
